element.style{
display: block;
margin: auto;
cursor: zoom-in;
background-color: hsl(0, 0%, 90%);
transition: background-color 300ms;
}

img{
    width: 550px;
    aspect-ratio: auto 550 / 833;
    height: 833px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}